// Layout
$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$maxWidth: 1200px;
$bpMedium: 768px;
$bpLarge : 992px;
$marge   : 15px;

// Typos
$fontDefault: 'pier_sansregular', 'Trebuchet MS', sans-serif;
$fontTitle: "Bello-Pro", $fontDefault;
$bold: 'pier_sansbold', 'Trebuchet MS', sans-serif;

// Colors
$blue    : #07672f;    //vert foncé
$orange  : #ffffff;    //blanc
$red     : #e62f29;
$red-dark: #9a1915;
$pink    : #0000002a;  //ombrage
$green   : #39ab61;
$light   : #f6eddc;

$colors: 
  (
    "blue":       $blue,
    "pink":       $pink,
    "orange":     $orange,
);

$primary  : $blue;
$secondary: $green;
$info     : $red;

$link-color: $blue;